@media only screen and (min-width:321px) and (max-width:768px) {
    body .header {
        text-align: center;
        background-size: cover;
    }

    body .header img {
        margin: 0;
    }

    body .header .nav {
        justify-content: space-between;
        flex-direction: column;
        margin-top: 0;
        padding: 0;
    }

    body .header .nav .menu {
        flex-direction: column;
        font-size: 20px;
        width: 100%;
    }
    body .header .nav .menu a img {
        width:200px;
    }
    body .header .nav .menu .menu-item{
        margin-bottom: 10px;
    }
    main .hero {
        width: 100%;
        height: 85vh;
        text-align: center;
        background-image: url("../img/mdz4.webp");
        background-position: center;
        background-size: cover;
        min-width: 768px;
    }

    main .hero-title {
        text-align: center;
        padding: 20px 20px;
    }

    main .hero-title h2 {
        color: black¿;
        font-size: 30px;
    }

    main .hero-title p {
        font-size: 20px;
    }
    main .galeria {
        background-color: black;
        background: rgb(0, 0, 0);
        background: radial-gradient(circle, rgba(0, 0, 0, 1) 37%, rgba(255, 255, 255, 1) 100%);
    
    }
    
    main .galeria .galeria-title h2 {
        font-size: 30px;
        color: white;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    main .galeria .galeria-title p {
        font-size: 20px;
        text-align: center;
        color: white;
    }
    
    main .galeria-body .galeria-img {
        width: 400px;
        height: 300px;
        border-radius: 15px;
        border-color: black;
        border-style: solid;
    }
    
    main .galeria .galeria-body h3 {
        color: white;
        text-align: center;
    }
    
    main .galeria .galeria-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        padding: 20px 20px;
    }

    main .vehicle {
        text-align: center;
        margin-top: 20px;
    }
    main .vehicle h2 {
        font-size: 25px;
    }
    
    main .grid-container {
        display: grid;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        grid-template-columns: repeat(2, 1fr);
    }

    main .grid-container .grid-item h2{
        margin-bottom: 10px ;
        font-size: 20px;
    }
    
    
    main .grid-container .grid-item img {
        height: 300px;
    }
    
    main .grid-container .grid-item button {
        font-size: 14px;
    }
}

@media (max-width:320px) {
    body .header {
        text-align: center;
        background-size: cover;
    }

    body .header img {
        margin: 0;
    }

    body header .nav {
        justify-content: space-between;
        flex-direction: column;
        margin-top: 0;
        padding: 0;
    }

    body .header .nav .menu {
        flex-direction: column;
        font-size: 15px;
        width: 100%;
    }
    body .header .nav .menu a img {
        width:150px;
    }
    body .header .nav .menu .menu-item{
        margin-bottom: 7px;
    }
    main .hero {
        width: 100%;
        height: 40vh;
        text-align: center;
        background-image: url("../img/mdz4.webp");
        background-position: center;
        background-size: cover;
        max-width: 320px;
    }

    main .hero-title {
        text-align: center;
        padding: 20px 20px;
    }

    main .hero-title h2 {
        color: black¿;
        font-size: 20px;
    }

    main .hero-title p {
        font-size: 15px;
    }
    .experiencias .exp-title {
        text-align: center;
        font-size: 15px;
        padding: 15px 15px;
    }
    
    .experiencias .exp-title h2 {
        padding-bottom: 20px;
    }
    
    .experiencias .exp {
        display: flex;
        flex-direction: column;
        padding: 0px 15px;
        text-align: center;
    }
    
    .experiencias .exp .exp-item h3 {
        font-size: 20px;
        padding-bottom: 10px;
    }
    
    .experiencias .exp .exp-item p {
        font-size: 15px;
        padding: 10px 50px;
    }
    
    .experiencias .exp-button {
        padding-left: 5px;
    }
    
    .experiencias .exp-button button {
        font-size: 15px;
        padding: 4px;
        
    }
    
    .galeria .galeria-title h2 {
        font-size: 25px;
    }
    
    .galeria .galeria-title p {
        font-size: 15px;
    }
    
    .galeria .galeria-body .galeria-img {
        width: 200px;
        height: 150px;
    }
    
    
    .galeria-body {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .galeria .galeria-body button {
        font-size: 12px;
    }
    
    .galeria .galeria-body .galeria-button {
        padding-top: 15px;
        padding-left: 7px;
        padding-bottom: 15px;
    }

    .ubicacion {
        font-size: 15px;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .ubicacion h2 {
        padding-bottom: 20px;
    }
    
    .ubicacion iframe{
        width: auto;
        height: 250px;
    }
    
    .footer {
        margin-top: 30px;
    }
    
    .footer a img {
        width: 30px;
        height: 30px;
    }
    
    .footer p {
        padding: 10px;
    }

    .vehicle {
        text-align: center;
        margin-top: 20px;
    }

    .vehicle h2 {
        font-size: 16px;
    }

    .vehicle p{
        font-size: 13px;
        margin-top: 10px;
    }
    
    .grid-container {
        display: grid;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-container .grid-item h2{
        margin-bottom: 10px ;
        font-size: 20px;
    }
    
    
    .grid-container .grid-item img {
        height: 300px;
    }
    
    .grid-container .grid-item .grid-button {
        font-size: 14px;
    }
}